@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

@font-face {
  font-family: 'Pretendard-Light';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Light.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Pretendard-SemiBold';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Pretendard-Bold';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Pretendard-Black';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Black.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

$wideWidth: '(min-width:1400px)';
$smallWidth: '(max-width:575px)';


img {
  vertical-align: middle;
}
a { text-decoration: none; }

body {
  font-family: 'Pretendard-Regular';
  background: #000000;
  color: #ffffff;
}
.loader-container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.bg-dark {
  background-color: #000000 !important;
}
.navTop {
  .logo {
    filter: brightness(0) invert(1);
    margin-bottom: 5px;
  }
  .nav-item {
    font-size: 12px;
    color: #ffffff;
    margin-left: 20px;
    transition: .2s ease-in;
    &:hover {
      opacity: 0.7;
    }
  }
  .searchBtn {
    font-size: 15px;
    border: none;
  }
}

.navbar-toggler {
  color: transparent;
}

.banner {
	position: relative;
  height: 700px;
	// height: 40vw;
	display: flex;
	align-items: center;
	background: {
		size: cover;
		position: center top;
	}
	// @media #{$wideWidth} {
	// 	height: 576px;
	// }
	@media #{$smallWidth} {
    align-items: flex-end;
	}

	&::before {
		position: absolute;
		content: "";
		left: 0;
		width: 100%;
		height: 100%;
		background: linear-gradient(to bottom,
    transparent 30%,
    rgba(20, 20, 20, 0.8) 80%,
    #000000 100%);
	}
  .bannerInfo {
		width: 60%;
		margin-left: 5vw;
    z-index: 1;
		h1 {
      font-family: 'Pretendard-Black';
			font-size: 4rem;
      font-weight: 900;
			text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
      transition: .3s;
			@media #{$wideWidth} {
				font-size: 72px;
			}
			@media #{$smallWidth} {
				font-size: 30px;
			}
		}
		.movieInfo {
      width: 70%;
			font-size: 15px;
			line-height: 1.3;
			opacity: 0.7;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      transition: .3s;
			@media #{$wideWidth} {
				font-size: 18px;
			}
			@media #{$smallWidth} {
        display: none;
			}
		}
    button {
      font-family: 'Pretendard-Regular';
      border: none;
      border-radius: 50px;
      background: #ffffff;
      width: 130px;
      height: 50px;
      font-size: 13px;
      transition: .3s;
      &:hover {
        background: #dddddd;
      }
      @media #{$smallWidth} {
        width: 100px;
        height: 35px;
        margin-top: 10px;
        font-size: 11px;
      }
    }
    @media #{$smallWidth} {
      width: 70%;
    }
    .appInfo {
      font-family: 'Roboto', sans-serif;
      z-index: 1;
      margin-top: 40px;
      font-size: 14px;
      font-weight: 900;
      opacity: 1;
      text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
      margin-top: 100px;
      transition: .3s;
      img {
        width: 40px;
      }
      @media #{$smallWidth} {
        font-size: 12px;
        margin: 50px 0 100px 0;
        img {
          width: 30px;
        }
			}
    }
	}
}

.slide-container {
  margin: 0px 100px;
  @media #{$smallWidth} {
    margin: 0px 30px;
  }
  h2 {
    font-family: 'Pretendard-black';
    margin: 50px 0 20px;
  }
}

.card-wrap {
	padding: 0 10px;
	.slide-card {
    --bs-card-border-color:none;
		height: 200px;
		background: {
			size: cover;
			position: center top;
		}
		border-radius: 10px;
    overflow: hidden;
    transition: .3s;
    cursor: pointer;
	}
}

.card-info {
  opacity: 0;
  transition: .3s ease-in;
  background: rgba(0, 0, 0, 0.5);
  height: 100%;  
  padding: 20px;
  h5 {
    font-family: 'Pretendard-bold';
  }
  p {
    font-family: 'Pretendard-Light';
    span{
      margin-right: 5px;
    }
  }
  .card-infoSub{
    position: absolute;
    bottom: 20px;
    .star {
      font-size: 13px;
    }
    .r-rated {
      color: #d82008;
    }
    .g-rated {
      color: rgb(21, 192, 21);
      font-family: 'Pretendard-Semibold';
      text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      font-size: 13px;
      margin-left: 10px;
    }
  }
}
.badge {
  font-weight: inherit;
}

.slide-card:hover {
  transform: scale(0.95);
  .card-info{
    opacity: 1;
  }
}

.footer {
  margin: 100px 30px;
  border-top: 1px solid #f5f5f7;
  padding: 30px 0;
  text-align: center;
  font-family: 'Pretendard-Light';
  color: #f5f5f7;
  font-size: 12px;
}


.explainContainer {
  margin-top: 10px;
  h1 {
    font-family: 'Pretendard-Black';
  }
  .detail-img {
    width: 560px;
  }
  .detail-overview {
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    padding: 30px 0;
    margin: 50px 0;
  }
  .star, .popularity {
    font-size: 13px;
  }
  .r-rated {
    color: #d82008;
  }
  .g-rated {
    color: rgb(21, 192, 21);
    font-family: 'Pretendard-Semibold';
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    font-size: 13px;
    margin-left: 10px;
  }
  span{
    margin-right: 5px;
  }
}


.trailer-btn {
  display: inline-block;
  cursor: pointer;
  border-radius: 50px;
  padding: 15px 30px;
  background: #ffffff;
  color: #000000;
  transition: .3s;
  &:hover {
    background: #dddddd;
  }
}


.detail-img {
	width: 550px;
}
.detail-overview {
	border-top: 1px solid white;
	border-bottom: 1px solid white;
	padding: 30px 0;
	margin: 50px 0;
}

.modal-content {
	background-color: rgba(0, 0, 0, 0.7);
}

.modal-header {
	border: 0;
}
.modal-body {
	text-align: center;
	width: 80%;
	margin: auto;

	& * {
		display: block;
		height: 600px;
		width: 100%;
	}
}
.btn-close {
	background-color: rgba(255, 255, 255, 0.5);
}
